:root {
    --main-bg-color: #121212;
    --main-txt-color: #DDE6ED;
}

*,
html {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}
/* navbar */
nav {
    display: flex;
    background-color: #1f1c28;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0px;
    height: 10vh;
}
 .logo {
    height: 100%;
 }

.logo img {
    height: 100%;
}

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 40%;
}

nav li a {
    text-decoration: none;
    color: #9b9da3;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9rem;
}

nav ul a:hover {
    color: white;
    transition: 0.5s;
    transition-delay: 0.2s;
}

/* navbar end */

/* Hamburger Menu */
.menu-toogle {
    display: none;
    flex-direction: column; 
    height: 10px;
    justify-content: space-between;
    position: relative;
}

.menu-toogle input {
    position: absolute;
    width: 60px;
    height: 85px;
    left: -17px;
    top: -40px;
    opacity: 0;
    cursor: pointer;
    z-index: 2;
}

.menu-toogle span {
    display: block;
    width: 25px;
    height: 2px;
    background-color: white;
    border-radius: 3px;
    transition: all 0.3s;

}
/* hamburger end */

/* hamburger menu animation */
.menu-toogle span:nth-child(2) {
    transform-origin: 0 0;
}

.menu-toogle span:nth-child(3) {
    transform-origin: 0 100%;
}

.menu-toogle input:checked ~ span:nth-child(2) {
    background-color: white;
    transform: rotate(45deg) translate(1px, -5px);
}

.menu-toogle input:checked ~ span:nth-child(3) {
    background-color: white;
    transform: rotate(-45deg) translate(-3px, 6px);
}
/* hamburger menu animation end */


/* content */
.gallery {
    display:flex;
    justify-content: center;
    /* align-items: center; */
    gap: 30px;
    padding: 20px 20px;
    height: 80vh;
    background-color: rgb(3, 3, 3);
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 285px;
    width: 300px;
    margin-top: 100px;
    /* background-color: rgb(255, 18, 18); */
    transition: 1000ms all;
    transform-origin: center center;
}

.gallery a {
    display: flex;
    text-decoration: none;
    color: black;
    height: 200px;
    width: 220px;
    overflow:hidden;
}

.card img {
    padding: 0px 50px 50px;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.card:hover figcaption {
    font-size: 20px;
    position: absolute;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    background: linear-gradient(
        to top
        rgba(0, 0, 0, 0.9) 0%,
        rgba( 0, 0, 0, 0)100%
    );
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    left: 75px;
    bottom: 20px;
}

.card:hover ~ .card {
    font-weight: bold;
    cursor: pointer;
    transform: translateX(15px);
}
/* content end */


/* footer */
.container-footer {
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.h1-footer {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
/* footer end */



/* responsive breakpoint */

/* ukuran tablet */
@media screen and (max-width: 768px){
    
    nav ul {
        width: 50%;

    }

    .gallery  {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;

    }

    .gallery a {
        width: 300px;
        height: 300px;
        margin-left: 60px;
    }

    .gallery img {
        height: 200px;
        position: absolute;
        margin-top: 40px;
        margin-left: 10px;
    }

    .card:hover figcaption {
        font-size: 20px;
        position: absolute;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        background: linear-gradient(
            to top
            rgba(0, 0, 0, 0.9) 0%,
            rgba( 0, 0, 0, 0)100%
        );
        color: white;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        left: 150px;
        bottom: 20px;
    }

}

/* ukuran handphone */
@media screen and (max-width: 576px){
    .menu-toogle {
        display: flex;
    }
    
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        height: 100vh;
        width: 80%;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: #1f1c28;
        z-index: -1;
        transform: translateX(100%);
        transition: all 0.5s;
    }

    nav ul.slide {
        transform: translateX(0);
    }

}